<form class="{{classes}}" autocomplete="off">
	<nav class="sheet-tabs tabs">
		<a class='item' data-tab='general'>General</a>
		<a class='item' data-tab='pc-sheet'>Players</a>
		<a class='item' data-tab='npc-sheet'>NPCs/Vehicles</a>
		<a class='item' data-tab='gm-options'>GM Options</a>
		<a class='item' data-tab='info'>Info</a>
	</nav>	

  <section class='tab' data-tab='general'>
    <h2>General</h2>
<!-- 
    <div class='form-checkbox-group'>
      <input type='checkbox' data-dtype='boolean' name='chat' id='meme-chat' {{checked settings.chat}}/><label for='meme-chat'>Activate markdown support for chat.</label> 
    </div>
    <div class='form-checkbox-group'>
      <input type='checkbox' data-dtype='boolean' name='richText' id='meme-richText' {{checked settings.richText}}/><label for='meme-richText'>Activate markdown support for all rich text editors.</label> 
    </div> -->
	</section>
  <section class='tab' data-tab='pc-sheet'>
    <h2>Player Character Sheets</h2>
	</section>
  <section class='tab' data-tab='npc-sheet'>
    <h2>NPC/Vehicle Sheets</h2>
	</section>
  <section class='tab' data-tab='gm-options'>
    <h2>GM Sheet Options</h2>
	</section>
  <section class='tab' data-tab='info'>
    <h2>Module Info</h2>
	</section>
</form>