gulpfile.js
.eslintrc.js
.prettierrc.js
jsconfig.json
/.pnp.js
/.yarn/

.github/
dist/
docs/
external/
src/languages/
src/assets/
src/lang/
src/scripts/
src/styles/
src/templates/
src/**/*.svelte