.grid-layout {
	display: flex;
	flex: 1;
	overflow: hidden;

	.items-list {
		padding-left: 2px;

		.items-header {
			margin: 2px 0 2px 0;
		}

		.items-header-labels {
			display: none;
		}

		.activate-context-menu {
			display: none;
		}

		&.alt-context .item:hover .activate-context-menu,
		&.alt-context .context .activate-context-menu {
			display: flex;
		}
	} //.items-list

	.item-list {
		padding: 0;
		display: flex;
		flex-wrap: wrap;

		.item {
			width: 50px;
			height: 50px;
			position: relative;
			margin: 3px;
			box-shadow: 0 0 1px 1px var(--t5e-light-color);
			border-radius: 5px;

			&.context {
				border: 1px solid var(--t5e-primary-accent);
			}

			.icon-attuned {
				font-size: 11.5px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--t5e-icon-attuned);
				width: 13px;
				height: 13px;
				background: var(--t5e-magic-accent);
				position: absolute;
				top: -1px;
				right: -1px;
				border-radius: 50%;
				box-shadow: 0 0 3px 1px var(--t5e-magic-accent);

				&.not-attuned {
					background: var(--t5e-attunement-required);
					box-shadow: 0 0 3px 1px var(--t5e-attunement-required);
				}
			} //.icon-attuned

			.icon-fav {
				position: absolute;
				top: -2px;
				left: 4px;
				color: rgba(0, 200, 100, 1);
				text-shadow: 0 0px 2px var(--t5e-primary-color);
				font-size: 10px;
			}

			&.preparable .item-image {
				box-shadow: 0 0 0 2px inset var(--t5e-prepareable);
				border-radius: 5px;
			}

			&.equipped {
				box-shadow: 0 0 0 2px var(--t5e-equipped-outline);
			}

			&.prepared {
				box-shadow: 0 0 0 2px var(--t5e-prepared-outline);
			}

			&.pact {
				box-shadow: 0 0 0 2px var(--t5e-pact-outline);
			}

			&.atwill {
				box-shadow: 0 0 0 2px var(--t5e-atwill-outline);
			}

			&.innate {
				box-shadow: 0 0 0 2px var(--t5e-innate-outline);
			}

			&.prepared.alwaysprepared {
				box-shadow: 0 0 0 2px var(--t5e-alwaysprepared-outline);
			}

			&.equipped .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-equipped-accent);
				border-radius: 5px;
			}

			&.prepared .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-prepared-accent);
				border-radius: 5px;
			}

			&.pact .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-pact-accent);
				border-radius: 5px;
			}

			&.atwill .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-atwill-accent);
				border-radius: 5px;
			}

			&.innate .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-innate-accent);
				border-radius: 5px;
			}

			&.prepared.alwaysprepared .item-image {
				box-shadow: 0 0 1px 1px inset var(--t5e-alwaysprepared-accent);
			}

			&.magic-item {
				.item-image {
					box-shadow: 0 0 0 1px var(--t5e-magic-accent) inset, 0 0 3px 2px var(--t5e-magic-accent) inset;
					border-radius: 5px;
				}

				&.equipped .item-image {
					background-image: url("systems/dnd5e/icons/items/inventory/pearl.jpg");
					box-shadow: 0 0 0px 1px var(--t5e-magic-outline) inset, 0 0 0 1px var(--t5e-magic-accent) inset,
						0 0 3px 2px var(--t5e-magic-accent) inset;
					border: none;
				}
			} //.magic-items

			.item-name {
				display: block;
				flex: unset;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				overflow: hidden;
			}

			.item-stats {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 0 2px 0 3px;
				height: 14px;

				.item-quantity,
				.item-charges,
				.item-uses {
					border: none;
					font-size: 12px;
					color: var(--t5e-stat-font);
					float: right;

					input {
						height: 14px;
						text-shadow: 0 0 5px rgba(0, 0, 0, 1);
						color: var(--t5e-stat-font);
						text-align: right;
						min-width: 0;
						width: 16px;
						padding: 0;
					}
				}

				.item-charges,
				.item-uses {
					float: left;
					line-height: 1;

					input {
						text-align: left;
					}

					.fa-bolt {
						font-size: 8px;
						margin-right: 1px;
						text-shadow: 0 0 5px rgba(0, 0, 0, 1);
					}
				}
			} //.item-stats

			.item-image {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				margin: 0;
				border-radius: 0;
			}

			.activate-context-menu {
				// display: none;
				position: absolute;
				top: 0%;
				left: 50%;
				transform: translate(-50%, -5px) rotate(-90deg);
				background: var(--t5e-background);
				border-right: 1px solid var(--t5e-light-color);
				width: 14px;
				height: 20px;
				border-radius: 3px 0 0 3px;
				box-shadow: -1px 0 3px var(--t5e-secondary-color);
				z-index: 1;
			}

			&:not(.context) .item-name.rollable:hover .item-image,
			&:not(.context) .item-name:hover .item-image {
				background-image: none !important;
			}

			&:not(.context) .item-name:hover .item-image i {
				display: initial;
			}

			&:not(.context) .item-name:hover .item-image:hover {
				background-image: none !important;
			}

			&:not(.context) .item-name:hover .item-image:hover i {
				color: var(--t5e-primary-font);
			}
		} //.item

		.items-footer {
			flex: 0 0 50px;
			height: 50px;
			margin: 2px;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				white-space: nowrap;
				height: 100%;
				font-size: 24px;
				color: var(--t5e-faint-color);

				&:hover {
					color: var(--t5e-tertiary-color);
				}
			}
		} //.items-footer

		// .info-card {
		// 	display: none;
		// }
	} //.item-list
} //.grid-layout
