// Portrait, Death Saves, Resting and Inspiration

// Portrait

// Portrait hover options

.exhaustionOnHover .exhaustion-container,
.inspirationOnHover .inspiration,
.restOnHover .rest-container {
	display: none;
}

.exhaustionOnHover:hover .exhaustion-container,
.inspirationOnHover:hover .inspiration,
.restOnHover:hover .rest-container {
	display: block;
}

.profile-wrap {
	width: 150px;
	position: relative;
}

.profile {
	width: 150px;
	height: 150px;
	position: relative;
}

.portrait {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--t5e-icon-outline);
	position: relative;
	mix-blend-mode: multiply;
	z-index: 2;

	.portrait-menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
		line-height: 1;
		white-space: nowrap;
		display: flex;
		flex-direction: column;

		&.hidden {
			display: none;
		}

		.showActorArt {
			background: var(--t5e-background);
			color: var(--t5e-primary-font);
			border: none;
			margin: 1px 0;
			padding: 4px 6px;
			line-height: 1;
			font-size: 12px;
			border: 1px solid var(--t5e-light-color);
			border-radius: 5px;
			text-align: center;

			&:hover {
				background: var(--t5e-background);
				color: var(--t5e-primary-accent);
			}
		}
	}
}

.player-image {
	background: var(--t5e-icon-background);
	box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
}

.roundPortrait .player-image {
	border-radius: 50%;
}

.limited .portrait {
	mix-blend-mode: normal;
}

.profile.disable-hp-overlay .portrait {
	mix-blend-mode: initial;
}

.roundPortrait .portrait {
	border-radius: 50%;
}

.portrait img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

// Death Saves and HP-Overlay

.death-saves,
.profile .hp-overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.profile .hp-overlay-wrapper {
	overflow: hidden;
}

.profile .hp-overlay-wrapper::before {
	content: "";
	display: block;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 50%;
	border: 0px solid #fff;
	border-width: var(--t5e-pc-border);
	z-index: 1;
}

.profile .hp-overlay {
	height: calc(100% - 20px);
}

.profile.disable-hp-overlay .hp-overlay-wrapper {
	display: none;
}

.profile.disable-hp-bar .portrait-hp .hp-bar {
	display: none;
}

.roundPortrait .death-saves,
.profile.roundPortrait .hp-overlay-wrapper {
	border-radius: 50%;
}

.death-saves {
	display: none;
	z-index: 20;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0 5px 1px #222;
}

.profile.dead .death-saves:not(.gmOnly) {
	display: flex;
}

// .profile .death-saves.gmOnly {
// 	display: none;
// }

.profile.disable-hp-overlay .counter-value,
.profile.disable-hp-overlay.dead .counter-value {
	background: rgba(255, 0, 0, 0.5);
	padding: 0 0.5rem;
	border-radius: 5px;
}

.death-saves .counter-value {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.death-saves .counter-value input {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	height: 19px;
	padding: 5px 4px 4px 4px;
	min-width: unset;
	text-align: center;
	width: 18px;
}

.death-saves .counter-value input:hover {
	border-color: #fff;
}

.death-save {
	position: relative;
	margin: 0 0.25rem;
	color: rgba(255, 255, 255, 0.75);
	font-size: 30px;
	transition: color 0.3s ease;
}

.death-save:hover {
	color: #fff !important;
}

// ## DEATH SAVES ##
.profile .inspiration.disabled,
.profile.dead .inspiration,
.profile.dead .rest-container,
.profile.dead .portrait-hd {
	display: none;
}

// ## INSPIRATION ##
.inspiration {
	position: absolute;
	right: 0;
	top: 0px;
	width: 34px;
	height: 34px;
	z-index: 5;
}

.inspiration input {
	display: none;
}

.inspiration label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 5px 0 5px;
	font-size: 24px;
	color: var(--t5e-icon-font);
	cursor: pointer;
	box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);
	background: var(--t5e-icon-background);
}

.roundPortrait .inspiration label {
	border-radius: 50%;
}

.inspiration label i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
}

.inspiration label:hover {
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 5px rgba(118, 228, 255, 0.5);
}

.inspiration input:checked + label {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 10px rgba(118, 228, 255, 1);
	background: #999;
}

.inspiration input:checked + label i {
	color: #ffffff;
	animation: glow 5s ease-in-out infinite alternate;
}

.inspiration input:checked + label i.disable-animation {
	animation: none;
}

@keyframes glow {
	0% {
		transform: scale(1);
		text-shadow: 0 0 10px 6px #76e4ff;
	}
	25% {
		transform: scale(1.2);
		text-shadow: 0 0 12px 8px #76e4ff;
	}
	60% {
		transform: scale(1);
		text-shadow: 0 0 8px 4px #76e4ff;
	}
	100% {
		transform: scale(1.1);
		text-shadow: 0 0 11px 7px #76e4ff;
	}
}

// ## REST ##

.rest-container {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 25;
}

.roundPortrait .rest-container {
	bottom: -7px;
}

.resting {
	width: 34px;
	height: 34px;
	overflow: hidden;
	border-radius: 0 5px 0 5px;
	transition: width 0.3s ease;
	background: var(--t5e-icon-background);
	display: flex;
	box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);
	color: var(--t5e-icon-font);
}

.roundPortrait .resting {
	border-radius: 20px;
}

.resting:hover {
	width: 110px;
}

.resting-icon {
	flex: 0 0 32px;
	display: flex;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 16px;
}

.resting .rest {
	flex: 0 0 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	padding: 0;
	font-size: 18px;
	line-height: 32px;
	font-family: var(--t5e-signika);
	font-weight: 700;
}

.resting .rest {
	transition: color 0.3s ease, transform 0.3s ease;
}

.resting .rest:hover {
	color: var(--t5e-icon-hover);
}

// Hover Notes

.note {
	display: none;
	position: absolute;
	left: 50%;
	bottom: calc(100% + 0.5rem);
	background: var(--t5e-note-background);
	color: #fff;
	font-size: 12px;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	z-index: 50;
	transform: translateX(-50%);
	white-space: nowrap;
}

.inspiration .note {
	bottom: auto;
	top: calc(100% + 0.5rem);
}

.inspiration .note::after {
	content: "(0)";
	margin-left: 0.2rem;
}

.inspiration input:checked ~ .note::after {
	content: "(1)";
	margin-left: 0.2rem;
}

.has-note:hover .note {
	display: inline-block;
}

// ## EXHAUSTION ##

.profile .exhaustion-container.disabled,
.profile.dead .exhaustion-container:not(.level-6),
.dead .exhaustion-container:not(.level-6) {
	display: none;
}

.profile:not(.dead) .portrait-hp {
	border-radius: 5px;
	width: 120px !important;
}

.exhaustion-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 34px;
	width: 34px;
	z-index: 50;
	color: var(--t5e-icon-font);
}

.exhaustion-container .level-display {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 14px;
	text-align: center;
	font-size: 14px;
	position: absolute;
	background: var(--t5e-icon-background);
	box-shadow: 0 0 8px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);
	top: -2px;
	left: -2px;
	border-radius: 50%;
	z-index: 1;
	font-weight: 700;
}

.exhaustion-container .note {
	top: calc(100% + 0.5rem);
	left: 0;
	bottom: auto;
	transform: translate(0, 0);
	z-index: 1;
}

.exhaustion-wrap {
	height: 34px;
	width: 34px;
	overflow: hidden;
	border-radius: 5px 0 5px 0;
	transition: width 0.3s ease;
	background: var(--t5e-icon-background);
	display: flex;
	box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);
}

.roundPortrait .exhaustion-wrap {
	border-radius: 20px;
}

.exhaustion-container:hover .exhaustion-wrap {
	width: 174px;
}

.exhaustion-wrap .exhaustion-icon {
	display: block;
	flex: 0 0 32px;
	width: 32px;
	height: 32px;
	line-height: 34px;
	text-align: center;
	font-size: 24px;
	position: relative;
}

.exhaustion-wrap .exhaust-level {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1;
}

.exhaustion-wrap .exhaust-level li {
	flex: 0 0 20px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	background: var(--t5e-light-color);
}

.exhaustion-wrap .exhaust-level li:hover {
	background: var(--t5e-tertiary-color) !important;
	color: var(--t5e-primary-font);
}

// # exhaustion effect note #

.exhaustion-container .note p {
	color: rgba(255, 255, 255, 1);
	display: block;
}

.exhaustion-container .exhaustion-icon i {
	display: none;
}

.profile.autohide .exhaustion-container.level-0,
.profile.autohide .inspiration.inspiration-0 {
	display: none;
}

.profile.autohide:hover .exhaustion-container.level-0,
.profile.autohide:hover .inspiration.inspiration-0 {
	display: block;
}

.exhaustion-container {
	&.level-0 .note p:not(.lvl-0),
	&.level- .note p:not(.lvl-0),
	&.level-1 .note p:not(.lvl-1),
	&.level-2 .note p:not(.lvl-2),
	&.level-3 .note p:not(.lvl-3),
	&.level-4 .note p:not(.lvl-4),
	&.level-5 .note p:not(.lvl-5),
	&.level-6 .note p:not(.lvl-6) {
		color: rgba(255, 255, 255, 0.4);
		display: none;
	}
}

// # exhaustion color coding #

.exhaustion-container.level-0 .exhaust-level li:nth-of-type(1) {
	background: transparent;
}

.exhaustion-container.level-0 .exhaustion-icon i:nth-child(1) {
	display: inline-block;
}

.exhaustion-container:not(.level-):not(.level-0) .exhaustion-icon {
	color: var(--t5e-exhaustion-font);
}

.exhaustion-container:not(.level-):not(.level-0) .exhaustion-icon,
.exhaustion-container.level-1 .exhaust-level li:nth-of-type(-n + 2),
.exhaustion-container.level-2 .exhaust-level li:nth-of-type(-n + 3) {
	color: var(--t5e-exhaustion-font);
	background: var(--t5e-exhaustion-lvl1);
}

.exhaustion-container.level-1 .exhaustion-icon i:nth-child(2) {
	display: inline-block;
}

.exhaustion-container.level-2 .exhaustion-icon i:nth-child(3) {
	display: inline-block;
}

.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .exhaustion-icon,
.exhaustion-container.level-3 .exhaust-level li:nth-of-type(-n + 4),
.exhaustion-container.level-4 .exhaust-level li:nth-of-type(-n + 5) {
	background: var(--t5e-exhaustion-lvl2);
}

.exhaustion-container.level-3 .exhaustion-icon i:nth-child(4) {
	display: inline-block;
}

.exhaustion-container.level-4 .exhaustion-icon i:nth-child(5) {
	display: inline-block;
}

.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4)
	.exhaustion-icon,
.exhaustion-container.level-5 .exhaust-level li:nth-of-type(-n + 6),
.exhaustion-container.level-6 .exhaust-level li:nth-of-type(-n + 7) {
	background: var(--t5e-exhaustion-lvl3);
}

.exhaustion-container.level-5 .exhaustion-icon i:nth-child(6) {
	display: inline-block;
}

.exhaustion-container.level-6 .exhaustion-icon i:nth-child(7) {
	display: inline-block;
}

.exhaustion-container:not(.level-):not(.level-0) .level-display {
	color: var(--t5e-exhaustion-font);
	background: var(--t5e-exhaustion-lvl1);
}

.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .level-display {
	background: var(--t5e-exhaustion-lvl2);
}

.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4)
	.level-display {
	background: var(--t5e-exhaustion-lvl3);
}

// Portrait Hit Points

.portrait-hd {
	position: absolute;
	z-index: 25;
	right: 0;
	bottom: 0;
	width: 34px;
	height: 34px;
	background: var(--t5e-icon-background);
	box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);
	border-radius: 5px 0 5px 0px;
	color: var(--t5e-icon-font);

	.current-hd {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-family: var(--t5e-modesto);
		font-size: 20px;
		font-weight: 700;
		padding: 2px 0 0 0;
	}
}

.roundPortrait .portrait-hd {
	bottom: -7px;
	border-radius: 50%;
}

.portrait-hp {
	position: absolute;
	width: 84px;
	left: 50%;
	height: 20px;
	font-size: 18px;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--t5e-icon-background);
	box-shadow: 0 0 5px var(--t5e-icon-shadow) inset;
	border: 1px solid var(--t5e-icon-outline);

	.hp-bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba(0, 200, 0, 0.6);
	}
}

.roundPortrait .portrait-hp {
	width: 88px;
}

.portrait-hp input,
.portrait-hp span {
	font-family: var(--t5e-modesto);
	// height: 100%;
	font-weight: 700;
	// width: 40px;
}
/*
	.portrait-hp span {
		flex: 0;
	}
	*/
// Portrait Hit Temp

.portrait-temp {
	display: flex;
	justify-content: center;
}

.portrait-temp input {
	display: flex;
	font-size: 12px;
	line-height: 12px;
	height: 14px;
	padding: 1px 0;
	width: 35px;
}

input.hp-min {
	text-align: right;
}
input.temphp {
	text-align: center;
}

input.hp-max,
span.hp-max {
	text-align: left;
}
input.max-temphp {
	text-align: center;
}

input.hp-max,
span.hp-max {
	width: 100%;
}
/*
	input.max-temphp {
		margin-left: .5rem;
	}
	*/
