:root {
	
	--t5s-modesto: "Modesto Condensed", "Palatino Linotype", serif;
	--t5s-signika: "Signika", sans-serif;

	//font colors
	--t5s-primary-font: 					rgba(0, 0, 0, .9);

	--t5s-background: 						rgba(236,233,223,1);

	--t5s-faintest-color: 					rgba(0,0,0,.05);
	--t5s-faint-color: 							rgba(0,0,0,.1);
	--t5s-light-color: 							rgba(0, 0, 0, .25);
	--t5s-primary-color: 						rgba(0,0,0,.9);
	--t5s-secondary-color: 					rgba(0,0,0,.65);
	--t5s-tertiary-color: 					rgba(0,0,0,.4);
	--t5s-primary-accent: 					rgba(255,100,0,1);
	--t5s-white: 										rgba(255,255,255,1);
	--t5s-faint-white: 							rgba(255,255,255,.2);
	--t5s-linked-accent: 						rgba(0,255,0,.75);
	--t5s-unlinked-accent: 					rgba(255,0,0,.75);
	--t5s-linked-light: 						rgba(0,255,0,.4);
	--t5s-unlinked-light: 					rgba(255,0,0,.4);
	--t5s-safe-accent: 							rgba(0,150,100,.6);
	--t5s-unsafe-accent: 						rgba(255,0,0,.6);

	// sheet header
	--t5s-header-background: 				rgba(255, 255, 255, .2);
	--t5s-header-border: 						rgba(0, 0, 0, .25);

	//items
	--t5s-stat-font: 								rgba(236, 233, 223, 1);
	--t5s-prepareable: 							rgba(119,136,153,1);
	--t5s-prepared: 								rgba(50,205,50,.3);
	--t5s-prepared-outline: 				rgba(50,205,50,1);
	--t5s-prepared-accent: 					rgba(173,255,47,1);
	--t5s-always-prepared: 					rgba(0,0,255,.15);
	--t5s-always-prepared-outline: 	rgba(65,105,225,1);
	--t5s-always-prepared-accent: 	rgba(0,191,255,1);


	--t5s-magic-accent: 						rgba(255,255,0,1);
	--t5s-faint-magic-accent: 			rgba(255,255,0,.6);
	--t5s-magic-outline: 						rgba(175,255,47,1);
	--t5s-attunement-required: 			rgba(205,92,92,1);
	--t5s-icon-attuned:								rgba(0,0,0,.4);

	--t5s-xp-bar: 									rgba(94,225,146,1);
	--t5s-encumbrance-bar: 					rgba(108,138,165,1);
	--t5s-encumbrance-bar-outline: rgba(205, 228, 255, 1);
	--t5s-encumbrance-outline: 		 rgba(0, 0, 0, .9);

	--t5s-warning-accent: 					rgba(255, 0, 0, .6);

	//portrait icons
	--t5s-icon-background: rgba(236, 233, 223, 1);
	--t5s-icon-shadow: rgba(0, 0, 0, .4);
	--t5s-icon-outline: rgba(0, 0, 0, .4);
	--t5s-icon-font: rgba(0, 0, 0, .4);
	--t5s-exhaustion-font: rgba(0, 0, 0, .4);
	--t5s-icon-hover: rgba(0, 0, 0, .9);

	--t5s-pc-border: 0px;
	--t5s-npc-border: 0px;
	--t5s-vehicle-border: 0px;
	
	//notes
	--t5s-note-background: rgba(0,0,0,.9);

	//exhaustion
	--t5s-exhaustion-lvl1: rgba(255, 230, 0, 1);
	--t5s-exhaustion-lvl2: rgba(255, 130, 0, 1);
	--t5s-exhaustion-lvl3: rgba(255, 50, 0, 1);

	--t5s-ability-accent: darkslategrey;
	// context menu
	--t5s-context-outline: rgba(0, 0, 0, .4);
	--t5s-context-shadow: rgba(0,0,0,.65);

	// item sheets
	--t5s-check-default: url('../images/check-dark-unchecked.svg');
	--t5s-check-checked: url('../images/check-dark-checked.svg');
	--t5s-checkbox-font: rgba(0, 0, 0, .9);
	--t5s-checkbox-outline: rgba(150, 150, 150, 1);
	--t5s-checkbox-unchecked: #D8D7D1;
	--t5s-checkbox-checked: rgba(0, 255, 0, 0.3);

}