.grid-layout {
	display: flex;
	flex: 1;
	overflow: hidden;

	.item-info-container {
		position: relative;
    margin: 0 8px 10px 0;
    width: 246px;
    border: 1px solid var(--default-faint-color);
    border-radius: 5px;
    // overflow: hidden;
    z-index: 1;

		.item-info-container-background {
			font-size: 150px;
			color: var(--default-faint-color);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			z-index: -1;
		}
	}
  
  .item-info-container-content {
  	// display: none;
		height: 100%;

  	.info-card {
			padding: 6px 8px 2px 8px;
			border-radius: 5px;
			overflow: hidden;
			height: 100%;
			display: flex;
			flex-direction: column;

			&.equipped,
			&.prepared {
				background: rgba(50,205,50,.3);
			}

			&.magic-item {
				box-shadow: 0 0 6px 2px yellow inset;
			}

			.info-card-name {
				font-family: "Modesto Condensed";
				font-size: 24px;
				margin: 0 0 4px 0;
				line-height: 1;
			}

			.info-card-image {
				filter: grayscale(100%);
				mix-blend-mode: screen;
			}

			.info-card-states,
			.info-card-trade,
			.info-card-amount,
			.info-card-properties {
				font-size: 12px;
				display: flex;
				justify-content: space-between;
				border-top: 1px solid var(--default-faint-color);

				span {
					padding: 4px 0;
				}

				i {
					width: 13px;
					text-align: center;
					margin-right: 4px;
					vertical-align: middle;
				}

				.info-attuned,
				.info-quantity {
					margin-left: auto;
				}

			}

			.info-card-hint {
				font-size: 12px;
		    border-top: 1px solid var(--default-faint-color);
		    padding: 4px;
		    margin-top: 2px;
		    font-style: italic;
			}

			.info-card-description {
				flex: 1;
				overflow: hidden;
		    border-top: 2px solid var(--default-light-color);
		    border-bottom: 2px solid var(--default-light-color);

		    &.overflowing {
		    	-webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
		    }
			}

			.truncated {
				text-align: center;
		    padding: 0 0 20px 0;
		    font-size: 18px;
		    height: 3px;
		    line-height: 3px;
			}

			.item-properties {
		    margin: 8px 0 0 0;

				.tag {
					white-space: pre-wrap;
				}
			}
  	}
  }

	.items-list {

		padding-left: 2px;

		.items-header {
			margin: 0;
		}

		.items-header-labels {
			display: none;
		}
	}//.items-list

	.item-list {
		display: flex;
		flex-wrap: wrap;

		.item {
			width: 50px;
			height: 50px;
			position: relative;
			margin: 2px;
			background: var(--default-faint-color);
    	box-shadow: 0 0 1px 1px var(--default-light-color);
			border-radius: 5px;

			.item-quantity:not(.isStack):not(:hover) {
				opacity: 0;
				transition: opacity .3s ease;
			}

			&:hover .item-quantity:not(.isStack):not(:hover) {
	    	opacity: 1;
	    }

			.icon-attuned {
    		font-size: 11.5px;
		    overflow: hidden;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: var(--default-tertiary-color);
		    width: 13px;
		    height: 13px;
		    background: yellow;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    border-radius: 50%;
		    box-shadow: 0 0 3px 1px yellow;
			}//.icon-attuned

			&.equipped,
			&.prepared {
				box-shadow: 0 0 1px 2px rgba(50,205,50,1);
			}

			&.magic-item {
				.item-image {
    			box-shadow: 0 0 5px 0px yellow inset;
    			border: 1px solid rgba(230,230,0,1);
   				border-radius: 5px
				}
			}//.magic-items

			.item-name {
				display: block;
				flex: unset;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				overflow: hidden;
			}

			.item-stats {
				position: absolute;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    padding: 0 2px 0 3px;
		    height: 14px;

				.item-quantity,
				.item-charges {
			    border: none;
			    font-size: 12px;
			    color: #efefef;
			    float: right;

					input {
						height: 14px;
				    text-shadow: 0 0 5px rgba(0,0,0,1);
				    color: #efefef;
				    text-align: right;
				    min-width: 0;
				    width: 16px;
						padding: 0;
					}
				}

				.item-charges {
					float: left;
					line-height: 1;

					input {
						text-align: left;
					}

					.fa-bolt {
						font-size: 8px;
						margin-right: 1px;
						text-shadow: 0 0 5px rgba(0,0,0,1);
					}

				}

			}//.item-stats

			.item-image {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				margin: 0;
				border-radius: 0;
			}
		}//.item-ist

		.items-footer{
			flex: 0 0 50px;
			height: 50px;
			margin: 2px;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				white-space: nowrap;
				height: 100%;
				font-size: 24px;
				color: var(--default-faint-color);

				&:hover {
					color: var(--default-tertiary-color);
				}
			}
		}//.items-footer

		.info-card {
			display: none;
		}

	}//.item

}//.grid-layout