/* Filters */
.inventory-filters {
  margin: 0 14px 1rem 0;
	flex: 0 0 19px;
	border-bottom: 1px solid var(--default-light-color);
}

.filter-list {
	max-width: initial;
	display: flex;
	justify-content: flex-end;

	.filter-title {
		font-size: 12px;
    line-height: 18px;
    color: var(--default-secondary-color);
	}

	.filter-item {
		font-size: 12px;
	  padding: 0 .5rem;
	  margin-left: 2px;
	  flex: unset;
	  cursor: pointer;
	  border-bottom: 3px solid #b5b3a4;

	  &:hover {
			border-bottom: 3px solid #7a7971;
	  }

	  &.active {
			border-bottom: 3px solid #44191A;
	  }
	} //.filter-item

	.toggle-layout {
		cursor: pointer;
    margin: 0 4px;
    padding: 0 2px;

    &:hover {
    	color: var(--default-primary-accent);
    }
	}
} //.filter-list

.inventory-footer {
  margin: 0rem 14px .5rem 0;
  padding-top: .5rem;
  display: flex;
	flex: 0 0 30px;
	border-top: 2px solid rgba(0,0,0,.3);
}

.attuned-items-counter {
	display: flex;
  align-items: center;
  margin: 0 20px 0 3px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  background: var(--default-faint-color);
  box-shadow: 0 0 5px rgba(255,255,0,1) inset;
  border: 1px solid yellow;

	&.overattuned {
		background: var(--default-primary-accent);
		box-shadow: 0 0 3px var(--default-primary-accent);
		animation: attention 2s infinite alternate ease-in-out;
		color: #fff;
	}

	span {
		font-size: 16px;
	}

	i {
	  opacity: .6;
		font-size: 20px;
    margin-right: 5px;
    margin-left: 1px;
	}

	.attuned-items-max {
		width: 24px;
	}

	input {
		display: none;
    font-size: 16px;
    font-family: 'Signika';
	}

	&.isGM input {
		display: inline;
	}

	&.isGM span.attuned-items-max {
		display: none;
	}
}

@keyframes attention {
	0% { transform: scale(1); }
	100% { transform: scale(1.4); }
}
/* Currency */

.inventory-currency {

	.currency {
		display: flex;
		align-items: center;
		list-style: none;
	}

	.currency-header {
		flex: 0 0 13px;
		text-align: center;
		align-items: center;
		margin-right: .5rem;

		i {
			font-size: 20px;
		}
	}

	.currency-item {
		display: flex;
		align-items: center;
	  background: var(--default-faint-color);
	  border-radius: 5px;
	  padding: 0 .5rem 0 0;
	  margin-right: .5rem;
	  line-height: 30px;

		input {
			text-align: right;
			flex: 1;
			padding-left: .5rem;
		}

		label {
			margin-left: .25rem;	
			flex: unset;
		}

		&.convert {
			margin-right: 0;
			padding: 0;
			flex: 0 0 1px;
			text-align: center;
			white-space: nowrap;
		}

		a {
			display: block;
			background: var(--default-tertiary-color);
			color: rgba(255,255,255,.6);
			border-radius: 5px;
			padding: 0 6px;

			&:hover {
			  background: rgba(0,0,0,.6);
			}
		} // a

		.denomination {
			text-transform: uppercase;
		}
		
	} // .currency-item
} // .inventory-currency

// encumbrance
.encumbrance {
	margin-right: 14px;
  background: var(--default-light-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--default-tertiary-color) inset;

	.encumbrance-bar {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    max-width: calc(100% - 2px);
    border: 1px solid #cde4ff;
    background: #6c8aa5;
    border-radius: 4px;
	}

	.encumbrance-label {
		display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #EEE;
    text-shadow: 0 0 2px #000;
	}

	.encumbrance-breakpoint {
		position: absolute;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 4px solid transparent;
	}

	.encumbrance-33 {
    left: calc(100% / 3);
	}

	.encumbrance-66 {
    left: calc((100% / 3)*2);
	}

	.arrow-up {
		bottom: 0;
    border-bottom-color: var(--default-primary-color);
	}

	.arrow-down {
		top: 0;
    border-top-color: var(--default-primary-color);
	}
}

/* Spellcasting Ability */

.spellcasting-ability  {
	display: flex;
  margin: 0rem 14px 0 0;
  padding-top: .5rem;
	border-top: 2px solid rgba(0,0,0,.3);
	align-items: center;

	.spellcasting-attribute {
		display: flex;
		align-items: center;
	}
	
	h3 {
		margin-right: 10px;
	}

	select {
		margin: 0 0 0 5px;
	}

} //.spellcasting-ability


/* Inventory Items */

.items-list {
	flex: 1;
	padding: 0 9px 8px 0;
  overflow-y: scroll;

  .item-list {
  	padding: 0;
  	margin: 0;
  }

	.items-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 .25rem 0;
		padding-top: .5rem;
		line-height: 20px;
		font-size: 12px;
		
		&:first-child { 
			padding-top: 0;
		}

		h3 {
			font-size: 12px;
			flex: 1 0 50px;
			white-space: nowrap;
		}

	} //.items-header

	.items-header-labels {
		display: flex;
		flex: 0;
  	font-size: 12px;
 		color: var(--default-light-color);
 		text-align: center;
 		white-space: nowrap;

 		.items-header-weight,
 		.items-header-charge,
 		.items-header-uses,
 		.items-header-comps {
 			width: 70px;
 		}

 		.items-header-usage,
 		.items-header-level,
 		.items-header-school, 
 		.items-header-target, 
 		.items-header-duration, 
 		.items-header-feat-source, 
 		.items-header-requirements {
 			width: 120px;
 		}

 		.items-header-subclass,
 		.items-header-source {
 			width: 200px;
 		}
	}//.items-header-label

	.item {
		background: var(--default-faint-color);

		.item-charges a.addCharges {
			display: block;
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: opacity .3s ease;
		}

		.item-charges:hover a.addCharges {
			opacity: 1;
			color: rgba(0,0,0,.6);
		}

		.item-charges .uses-max,
		.spell-slots .spell-max {
			text-align: left;
		}
		
		.item-quantity {
			align-items: center;
			display: flex;
			margin-left: 4px;
			text-align: center;
			transition: opacity .3s ease;
			
			input {
				width: 23px;
				height: 100%;
			}
		}//.item-quaantity

		&:not(:hover):not(.showSingleItems) .item-quantity:not(.isStack):not(:hover):not(:focus-within) {
	   	opacity: 0;
	  }

		/* Item Equipped/Prepared Highlight */
		&.equipped,
		&.prepared {
			background: rgba(50,205,50,.3);
		}

		&.alwaysPrepared {
			// background: var(--always-prepared-accent);
			background: rgba(0,0,255,.15);
		}

		.item-name .item-image {
			flex: 0 0 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 5px 0px 0px 5px;
			margin-right: .5rem;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			
			i {
				color: var(--default-tertiary-color);
				display: none;
			  text-align: center;
			  font-size: 18px;
			}
		}//.item-name .item-image

		&.expanded .item-name .item-image {
			border-radius: 5px 0 0 0;
		}

		&:not(.context) .item-name.rollable:hover .item-image,
		&:not(.context) .item-name:hover .item-image {
		  background-image: none !important;
		}

		&:not(.context) .item-name:hover .item-image i {
			display: initial;
		}

		&:not(.context) .item-name:hover .item-image:hover {
			background-image: none !important;
		}

		&:not(.context) .item-name:hover .item-image:hover i {
			color: var(--default-primary-color);
		}

		.item-charges {
			align-items: center;
			text-align: center;
			display: flex;
			justify-content: center;

			input {
				text-align: right;
				width: 50%;
				padding: 0 4px 0 0;
				color: rgba(0,0,0,.6);
				line-height: 1;
				height: 100%;
			}

			.uses-max {
				padding: 0 0 0 4px;
			}
		}

		.item-recharge {
			flex: initial;
			padding: 0 4px;
			font-size: 13px;
		}

		.item-summary {
			flex: 0 0 100%;
			padding: .5rem;
			border-top: 1px solid var(--default-faint-color);
		}

		.item-summary p:not(:first-child) {
			margin-top: .5em;
		}

	}//.item

	/* Context Menu */
	.item-controls {
		display: none;
		min-width: 70px;
		background: url(../../../ui/parchment.jpg) repeat;
    border: 1px solid rgba(0,0,0,.2);
    position: absolute;
    z-index: 100;
    border-radius: 5px;
    padding: 1px 2px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.25);

		a {
			display: flex;
	    align-items: center;
	    padding: 4px 8px 4px 6px;
	    margin: 1px 0;
	    white-space: nowrap;
	    line-height: 1;
	    font-weight: 400;
	    font-size: 12px;

			&:first-child {
				border-radius: 3px 3px 0 0;
			}

			&:last-child {
				border-radius: 3px;
			}

			&.active {
				background: rgba(50,205,50,.4);
			}

			.icon-on,
			&.active .icon-off {
				display: none;
			}

			.icon-off,
			&.active .icon-on {
				display: inline-block;
			}

			&:hover {
				background: rgba(255,255,255,.4);
			}

			i {
	    	margin-right: 4px;
	   		width: 16px;
	   		text-align: center;
			}

			&.warning {
				background: rgba(255,0,0,.6);
				color: rgba(255,255,255,.6);

				&:hover {
					background: rgba(255,0,0,.6);
					color: rgba(255,255,255,.8);			
				}
			}//&item-delete
		}//a

		.context-divider {
			margin: 1px 0;

			&:first-child {
				display: none;
			}
		}

	}//.item-controls

}//.items-list


.items-list {

	.spell-school,
	.spell-action,
	.spell-target {
		flex: 0 0 120px;
	}

	.items-header .spell-slots {
		display: flex;
    flex: 0 0 1px;
    align-items: center;
    color: rgba(0,0,0,0.6);
    border-radius: 5px;
    padding: 0 5px;

		.spell-max {    
			display: flex;
    	align-items: center;
    	line-height: 16px;
    	text-align: left;
		}

		input {
			text-align: right;
			height: 16px;
		}

		.slot-max-override {
			margin: 1px 0 0 4px;
			color: var(--default-tertiary-color);
		}
	}//.items-header .spell-detail.spell-slots

	p.notes {
		padding: .5rem;
	}

	.item-attuned {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin: 4px 4px 0 0;
    color: var(--default-secondary-color);

    &.not-attuned {
    	color: #CD5C5C;
    }
	}

}//.items-list

.list-layout {
	display: flex;
	flex: 1;
  overflow: hidden;
}

.list-layout .items-list {

	.item {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		border-radius: 5px; 
		margin: 2px 0;

		&.magic-item {
			box-shadow: 0 0 2px 1px yellow inset;
		}

		&.context {
			box-shadow: 0 0 3px 1px var(--default-primary-accent) inset;
		}

		i {
			vertical-align: middle;
		}

		.item-name {
			display: flex;
			flex: 1;
			cursor: default;
			flex-wrap: nowrap;
			font-size: 12px;

			&.rollable:hover {
				color: inherit;
			}

		}

		h4 {
			display: flex;
			align-items: center;
			flex: initial;
			text-overflow: ellipsis;
			font-weight: 400;
		}

		.rollable  h4 {
			cursor: pointer;
		}

	}//.item

	.items-footer {
		display: flex;
		justify-content: flex-end;
		flex: 1;
		background: rgba(0,0,0,.03);
		border-radius: 5px;

		a {
			flex: 0 0 120px;
    	padding: 0 20px;
			font-size: 12px;
			text-align: center;
			color: var(--default-secondary-color);
			border-radius: 5px;
			font-weight: 400;
		  line-height: 18px;
		  padding-top: 2px;
		
			&:hover {
				background: var(--default-light-color);
			}

		} //a

	} //.items-footer

	.item-detail {
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
    border-left: 1px solid rgba(0,0,0,.15);
    color: rgba(0,0,0,.6);
    overflow: hidden;

    span.truncate {
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	padding: 0 4px;
    }
	}

} //:not(.grid-layout) .items-list

.item-properties {
	justify-content: flex-start;
	flex-wrap: wrap;
	border: none;

	.tag {
		display: inline-block;
		padding: 2px;
		background: var(--default-light-color);
		border: 1px solid var(--default-light-color);
		margin: 0 2px 1px 0;
		white-space: nowrap;
		line-height: 1;
		border-radius: 3px;
		font-size: 12px; 
	}
}
	
	/* SPELL SLOTS */

	.spell-level-slots {
		flex: 0;
		display: flex;
	}

	.spell-comps {
		flex: 0 0 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.spell-component.C,
	.spell-component.R {
	  color: #c9c7b8;
	  background: rgba(0, 0, 0, 0.4);
	  border-radius: 2px;
	  padding: 1px 1px 0 1px;
	  margin: 0px 0 0 1px;
	  line-height: 12px;
	}

	.items-list .item-weight,
	.items-list .item-charges {
		flex: 0 0 70px;
	}

	.items-list .item-level,
	.items-list .item-action,
	.items-list .effect-duration,
	.items-list .item-source,
	.items-list .item-requirements {
		flex: 0 0 120px;
	}

	.item-list .player-class,
	.item-list .effect-source {
		flex: 0 0 200px;
		overflow: hidden;
		padding: 0 .5rem;

		span {
			display: inline-block;
			text-align: center;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}