/* #### Sheet Navigation #### */

.tidy5e-navigation {
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

	.item {
		padding: 5px 1rem 0 1rem;
		background: rgba(255,255,255,.2);
		border: 1px solid transparent;
		border-bottom: 1px solid var(--default-light-color);
		font-size: 13px;
		text-align: left;
		height: 26px;
		flex: 1 1 auto;
		
		&:hover {
			color: var(--default-primary-accent);
		}
	}

	.item[data-tab="attributes"] i {
		margin-right: 4px;
		color: var(--default-tertiary-color);
		position: relative;
		top: 1px;
	}

	.item.active {
		background: transparent;
		border: 1px solid var(--default-light-color);
		border-bottom-color: transparent;
		font-weight: 700;
		cursor: default;
		text-shadow: none;
		
		&:hover {
			color: inherit;
		}
	}

	.item:first-child.active {
		border-left-color: transparent;
	}

	.item:last-child.active {
		border-right-color: transparent;
	}

	.toggle-edit {
    display: flex;
    flex: 0;
    align-items: center;
    white-space: nowrap;
    padding: 2px 1rem;
    background: rgba(255,255,255,0.2);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--default-light-color);
    font-size: 13px;
    text-align: left;
    height: 26px;

    span {
	    cursor: pointer;
    	background: mediumseagreen;
    	color: rgba(255,255,255,.6);
      border-radius: 3px;
      padding: 2px 6px;
    }

    .fa-lock-open {
    	display: none;
    }
  }
}
