
	/* Portrait, Death Saves, Resting and Inspiration */

	/* Portrait */

	.profile-wrap {
		width: 110px;
	}

	.profile {
		width: 110px;
		height: 110px;
		position: relative;
	}

	.portrait {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
		box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
		border: 1px solid rgba(0,0,0,.5);
		position: relative;
		mix-blend-mode: multiply;
		z-index: 1;
	}

	.limited .portrait {
		mix-blend-mode: normal;
	}

	.profile.disable-hp-overlay .portrait {
		mix-blend-mode: initial;
	}

	.roundPortrait .portrait {
		border-radius: 50%;
	}

	.portrait img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	/* Death Saves and HP-Overlay */

	.death-saves,
	.profile .hp-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.profile.disable-hp-overlay .hp-overlay {
		display: none;
	}

	.roundPortrait .death-saves,
	.profile.roundPortrait .hp-overlay {
		border-radius: 50%;
	}

	.death-saves {
		display: none;
		z-index: 20;
		justify-content: center;
		align-items: center;
		text-shadow: 0 0 5px 1px #222;
	}

	.profile.hp-0-0 .death-saves,
	.profile:not(.deathfailure-0):not(.deathfailure-) .death-saves, 
	.profile:not(.deathsuccess-0):not(.deathsuccess-) .death-saves {
		display: flex;
	}

	.profile.disable-hp-overlay .counter-value,
	.profile:not(.deathfailure-0):not(.hp-0-0) .counter-value, 
	.profile:not(.deathsuccess-0):not(.hp-0-0) .counter-value {
		background: rgba(255,0,0,.3);
		padding: 0 .5rem;
		border-radius: 5px;
	}

	.profile.disable-hp-overlay .counter-value,
	.profile.disable-hp-overlay:not(.deathfailure-0):not(.hp-0-0) .counter-value, 
	.profile.disable-hp-overlay:not(.deathsuccess-0):not(.hp-0-0) .counter-value {
		background: rgba(255,0,0,.5);
	}

	.death-saves .counter-value {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}

	.death-saves .counter-value input {
		color: #fff;
	  font-weight: 700;
	  font-size: 16px;
	  height: 19px;
	  padding: 5px 4px 4px 4px;
	  min-width: unset;
	  text-align: center;
	  width: 18px;
	}

	.death-saves .counter-value input:hover {
		border-color: #fff;
	}

	.profile .hp-overlay {
		top: auto;
		bottom: 0;
		overflow: hidden;
		border-width: 0;
		border-style: solid;
		border-color: #fff;
	}

	.death-save {
		position: relative;
		margin: 0 .25rem;
		color: rgba(255,255,255,.75);
		font-size: 30px;
		transition: color .3s ease;
	}

	.death-save:hover {
		color: #fff !important;
	}

	/* ## DEATH SAVES ## */
	.profile .inspiration.disabled,
	.profile:not(.deathfailure-0):not(.deathfailure-) .inspiration, 
	.profile:not(.deathsuccess-0):not(.deathsuccess-) .inspiration,
	.profile:not(.deathfailure-0):not(.deathfailure-) .rest-container, 
	.profile:not(.deathsuccess-0):not(.deathsuccess-) .rest-container, 
	.hp-0-0 .inspiration,
	.hp-0-0 .rest-container {
		display: none;
	}

	/* ## INSPIRATION ## */
	.inspiration {
		position: absolute;
		right: 0;
		bottom: 0px;
		width: 34px;
		height: 34px;
		z-index: 5;
	}

	.inspiration input {
		display: none;
	}

	.inspiration label {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px 0 5px 0;
		font-size: 24px;
		color: var(--default-tertiary-color);
		cursor: pointer;
		box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
		border: 1px solid rgba(0,0,0,.5);
		background: #ECE9DF;
	}

	.roundPortrait .inspiration label {
		border-radius: 50%;
	}

	.inspiration label i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	  text-align: center;
	  line-height: 34px;
	}

	.inspiration label:hover {
		color: rgba(255,255,255,.75);
		text-shadow: 0 0 5px rgba(118, 228, 255, .5);
	}

	.inspiration input:checked + label {
		color: rgba(255,255,255,1);
		text-shadow: 0 0 10px rgba(118, 228, 255, 1);
		background: #999;
	}

	.inspiration input:checked + label i {
		color: #FFFFFF;
	  animation: glow 5s ease-in-out infinite alternate;
	}

	.inspiration input:checked + label i.disable-animation {
	  animation: none;
	}

	@keyframes glow {
		0% {
			transform: scale(1);
			text-shadow: 0 0 10px 6px #76E4FF;
		}
		25% {
			transform: scale(1.2);
			text-shadow: 0 0 12px 8px #76E4FF;
		}
		60% {
			transform: scale(1);
			text-shadow: 0 0 8px 4px #76E4FF;
		}
		100% {
			transform: scale(1.1);
			text-shadow: 0 0 11px 7px #76E4FF;
		}
	}

	/* ## REST ## */

	.rest-container {
		position: absolute;
		left: 0;
		bottom: 0px;
		z-index: 5;
	}

	.resting {
		width: 34px;
		height: 34px;
		overflow: hidden;
		border-radius: 0 5px 0 5px;
		transition: width .3s ease;
		background: #ECE9DF;
		display: flex;
		box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
		border: 1px solid rgba(0,0,0,.5);
	}

	.roundPortrait .resting {
		border-radius: 20px;
	}

	.resting:hover {
		width: 110px;
	}

	.resting-icon {
		flex: 0 0 32px; 
		display: flex;
		width: 32px;
		height: 32px;
		margin-right: 8px;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 16px;
		color: var(--default-tertiary-color);
	}

	.resting .rest {
		flex: 0 0 32px; 
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		cursor: pointer;
		border: none;
		color: var(--default-tertiary-color);
		padding: 0;
		font-size: 18px;
		line-height: 32px;
		font-family: "Signika";
		font-weight: 700;
	}

	.resting .rest {
		transition: color .3s ease, transform .3s ease;	
	}

	.resting .rest:hover {
		color: rgba(0,0,0,.6);
		// transform: scale(1.2);
	}

	/* Hover Notes */

	.note {
		display: none;
		position: absolute;
		left: 50%;
		bottom: calc(100% + .5rem );
		background: rgba(0,0,0,.9);
		color: #fff;
		font-size: 12px;
		padding: .5rem 1rem;
		border-radius: 5px;
		z-index: 50;
		transform: translateX(-50%);
		white-space: nowrap;
	}

	.inspiration .note::after {
		content: '(0)';
		margin-left: .2rem;
	}

	.inspiration input:checked ~ .note::after {
		content: '(1)';
		margin-left: .2rem;
	}

	.has-note:hover .note {
		display: inline-block;
	}

	/* ## EXHAUSTION ## */

	.profile .exhaustion-container.disabled,
	.profile:not(.deathfailure-0):not(.deathfailure-) .exhaustion-container, 
	.profile:not(.deathsuccess-0):not(.deathsuccess-) .exhaustion-container, 
	.hp-0-0 .exhaustion-container {
		display: none;
	}

	.exhaustion-container {
		position: absolute;
		top: 0;
		left: 0;
		height: 34px;
		width: 34px;
		z-index: 10;
	}

	.exhaustion-container .level-display {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 14px;
		text-align: center;
		font-size: 14px;
		position: absolute;
	  background: #ECE9DF;
	  box-shadow: 0 0 8px rgba(0,0,0,.5) inset;
	  border: 1px solid rgba(0,0,0,.5);
		color: rgba(0,0,0,.5);
		top: -2px;
		left: -2px;
		border-radius: 50%;
		z-index: 1;
		font-weight: 700;
	}

	.exhaustion-container .note {
		top: calc(100% + .5rem);
		left: 0;
		bottom: auto;
		transform: translate(0,0);
	}

	.exhaustion-wrap {
		height: 34px;
		width: 34px;
		overflow: hidden; 
	  border-radius: 5px 0 5px 0;
	  transition: width .3s ease;
	  background: #ECE9DF;
	  display: flex;
	  box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
	  border: 1px solid rgba(0,0,0,.5);
	}

	.roundPortrait .exhaustion-wrap {
		border-radius: 20px;
	}

	.exhaustion-container:hover .exhaustion-wrap {
		width: 174px;
	}

	.exhaustion-wrap .exhaustion-icon {
		display: block;
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    line-height: 34px;
    text-align: center;
    font-size: 24px;
    position: relative;
	  color: var(--default-tertiary-color);
	}

	.exhaustion-wrap .exhaust-level {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex: 1;
	}

	.exhaustion-wrap .exhaust-level li {
		flex: 0 0 20px;
		text-align: center;
		line-height: 34px;
		cursor: pointer;
		background: var(--default-light-color);
	}

	.exhaustion-wrap .exhaust-level li:hover {
		background: rgba(0,0,0,.4) !important;
		color: #191813;
	}

	/* # exhaustion effect note # */

	.exhaustion-container .note p {
		color: rgba(255,255,255,1);
		display: block;
	}

	.exhaustion-container .exhaustion-icon i {
		display: none;
	}

	.profile.autohide .exhaustion-container.level-0,
	.profile.autohide .inspiration.inspiration-0 {
		display: none;
	}

	.profile.autohide:hover .exhaustion-container.level-0,
	.profile.autohide:hover .inspiration.inspiration-0 {
		display: block;
	}

	.exhaustion-container {
		&.level-0 .note p:not(.lvl-0),
		&.level- .note p:not(.lvl-0),
		&.level-1 .note p:not(.lvl-1),
		&.level-2 .note p:not(.lvl-2),
		&.level-3 .note p:not(.lvl-3),
		&.level-4 .note p:not(.lvl-4),
		&.level-5 .note p:not(.lvl-5),
		&.level-6 .note p:not(.lvl-6) {
			color: rgba(255,255,255,.4);
			display: none;
		}
	}
	
	/* # exhaustion color coding # */

	.exhaustion-container.level-0 .exhaust-level li:nth-of-type(1) {
		background: transparent;
	}

	.exhaustion-container.level-0 .exhaustion-icon i:nth-child(1) {
		display: inline-block;
	}

	.exhaustion-container:not(.level-):not(.level-0) .exhaustion-icon,
	.exhaustion-container.level-1 .exhaust-level li:nth-of-type(-n+2),
	.exhaustion-container.level-2 .exhaust-level li:nth-of-type(-n+3) {
		background: rgba(255,255,0,.5);
	}

	.exhaustion-container.level-1 .exhaustion-icon i:nth-child(2) {
		display: inline-block;
	}

	.exhaustion-container.level-2 .exhaustion-icon i:nth-child(3) {
		display: inline-block;
	}

	.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .exhaustion-icon,
	.exhaustion-container.level-3 .exhaust-level li:nth-of-type(-n+4),
	.exhaustion-container.level-4 .exhaust-level li:nth-of-type(-n+5) {
		background: rgba(255,120,0,.5);
	}

	.exhaustion-container.level-3 .exhaustion-icon i:nth-child(4) {
		display: inline-block;
	}

	.exhaustion-container.level-4 .exhaustion-icon i:nth-child(5) {
		display: inline-block;
	}

	.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4) .exhaustion-icon,
	.exhaustion-container.level-5 .exhaust-level li:nth-of-type(-n+6),
	.exhaustion-container.level-6 .exhaust-level li:nth-of-type(-n+7) {
		background: rgba(255,0,0,.5);
	}

	.exhaustion-container.level-5 .exhaustion-icon i:nth-child(6) {
		display: inline-block;
	}

	.exhaustion-container.level-6 .exhaustion-icon i:nth-child(7) {
		display: inline-block;
	}

	.exhaustion-container:not(.level-):not(.level-0) .level-display {
		background: rgb(255,255,0);
	}

	.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .level-display {
		background: rgb(255,175,0);
	}

	.exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4) .level-display{
		background: rgb(255,100,0);
	}

	/* Portrait Hit Points */

	.portrait-hd {
		text-align: center;
		margin-top: 3px;
		font-size: 14px;
		line-height: 12px;
		font-family: "Modesto Condensed", "Palatino Linotype", serif;
	}

	.portrait-hp {
		display: flex;
		margin-top: 2px;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
	}

	.portrait-hp input,
	.portrait-hp span {
		font-family: "Modesto Condensed", "Palatino Linotype", serif;
		font-size: 18px;
		height: 18px;
		font-weight: 700;
	}

	.portrait-hp span {
		font-size: 14px;
    padding: 2px 2px 0 2px;
	}

	/* Portrait Hit Temp */

	.portrait-temp {
		display: flex;
	}

	.portrait-temp input {
		display: flex;
		font-size: 12px;
		line-height: 12px;
		height: 14px;
		padding: 1px 0;
	}

	input.hp-min,
	input.temphp {
		text-align: right;
	}

	input.hp-max,
	input.max-temphp {
		text-align: left;
	}

	input.max-temphp {
		margin-left: .5rem;
	}
