:root {
	--default-primary-color: rgba(0,0,0,.87);
	--default-secondary-color: rgba(0,0,0,.65);
	--default-tertiary-color: rgba(0,0,0,.4);
	--default-light-color: rgba(0,0,0,.2);
	--default-faint-color: rgba(0,0,0,.075);
	--default-primary-accent: #ff6400;
	--default-secondary-accent: rgba(210,0,255,.1);
	--always-prepared-accent: rgba(210,0,255,.1);
}