.tidy5e.sheet {
  .items-with-spells-items-list {
    .items-header {
      height: 28px;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: 2px groove #eeede0;
      font-weight: bold;
      > * {
        font-size: 12px;
        text-align: center;
      }
      h3 {
        padding-left: 5px;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        font-size: 16px;
      }
      .item-name {
        margin: 0px;
        border: none;
      }
    }
    .item {
      .item-name {
        .item-image {
          flex: 0 0 30px;
          height: 30px;
          background-size: cover;
          background-position: 50% 0;
          border: none;
          margin-right: 5px;
        }
      }
    }
    padding: 0px;
    .item-list {
      padding: 0px;
    }
    .item-control {
      text-align: center;
    }
  }
  .traits {
    .tag.tool {
      h4 {
        font-weight: normal;
      }
    }
  }
}
.tidy5e-sheet {
  &:not(.items-footer) {
    > .item-create {
      display: none;
    }
  }
}
