<form>
    {{#if isCharacter}}

        <div class="form-group">
            <label>{{localize "DND5E.Race"}}</label>
            <input type="text" name="race" value="{{race}}"
                placeholder="{{ localize 'DND5E.Race' }}">
        </div>
        <div class="form-group">
            <label>{{localize "DND5E.Background"}}</label>
            <input type="text" name="background" value="{{background}}"
                placeholder="{{ localize 'DND5E.Background' }}">
        </div>
        <div class="form-group">
            <label>{{localize "DND5E.Alignment"}}</label>
            <input type="text" name="alignment" value="{{alignment}}"
                placeholder="{{ localize 'DND5E.Alignment' }}">
        </div>

    {{else if isNPC}}

        <div class="environment form-group">
            <label>{{localize "TIDY5E.Environment"}}</label>
            <input type="number" name="environment" value="{{environment}}"
                placeholder="{{ localize 'TIDY5E.Environment' }}">
        </div>
        <div class="form-group">
            <label>{{localize "DND5E.Alignment"}}</label>
            <input type="text" name="alignment" value="{{alignment}}"
                placeholder="{{ localize 'DND5E.Alignment' }}">
        </div>
        <div class="form-group">
            <label>{{localize "DND5E.Source"}}</label>
            <input type="text" name="source" value="{{source}}"
                placeholder="{{ localize 'DND5E.Source' }}">
        </div>

    {{else if isVehicle}}

        <div class="form-group">
            <label>{{localize "DND5E.Dimensions"}}</label>
            <input type="text" name="dimensions" value="{{dimensions}}"
                placeholder="{{ localize 'DND5E.Dimensions' }}">
        </div>
        <div class="form-group">
            <label>{{localize "DND5E.Source"}}</label>
            <input type="text" name="source" value="{{source}}"
                placeholder="{{ localize 'DND5E.Source' }}">
        </div>

    {{else}}

      <!-- TODO SOMETHING ? -->

    {{/if}}

    <button type="submit">
      <i class="far fa-save"></i> {{localize "Save"}}
    </button>
</form>
