:root.tidy5eDark {
  // font color
  --t5s-primary-font: rgba(255, 255, 255, 0.8);

  --t5s-background: rgb(30, 30, 30);

  --t5s-white: rgba(0, 0, 0, 1);
  --t5s-primary-color: rgba(255, 255, 255, 0.8);
  --t5s-secondary-color: rgba(255, 255, 255, 0.65);
  --t5s-tertiary-color: rgba(255, 255, 255, 0.4);
  --t5s-light-color: rgba(255, 255, 255, 0.25);
  --t5s-faint-color: rgba(255, 255, 255, 0.1);
  --t5s-faintest-color: rgba(255, 255, 255, 0.05);

  --t5s-ability-accent: darkslategrey;

  // sheet header
  --t5s-header-background: rgba(255, 255, 255, 0.05);
  --t5s-header-border: rgba(255, 255, 255, 0.25);

  // icons
  // --t5s-primary-accent: #48BB78;
  --t5s-primary-accent: rgba(255, 100, 0, 1);
  --t5s-prepared: rgba(0, 250, 180, 0.3);
  --t5s-always-prepared: rgba(0, 100, 255, 0.3);

  //portrait icons
  --t5s-icon-background: rgb(30, 30, 30);
  --t5s-icon-shadow: rgba(0, 0, 0, 0.4);
  --t5s-icon-outline: rgba(0, 0, 0, 0.4);
  --t5s-icon-font: rgba(255, 255, 255, 0.4);
  --t5s-icon-hover: rgba(255, 255, 255, 0.8);

  --t5s-warning-accent: rgba(255, 30, 0, 0.65);

  // item sheets
  --t5s-check-default: url("../images/check-dark-unchecked.svg");
  --t5s-check-checked: url("../images/check-light-checked.svg");
  --t5s-checkbox-font: rgba(255, 255, 255, 0.8);
  --t5s-checkbox-outline: rgba(50, 50, 50, 1);
  --t5s-checkbox-unchecked: rgba(75, 75, 75, 1);
  --t5s-checkbox-checked: rgba(0, 255, 0, 0.5);

  --t5s-color-bg-option: rgb(100 100 100);
  .prosemirror {
    --t5s-color-control-bg: rgb(50 50 50);
    --t5s-color-hover-bg: rgb(20 20 20);
  }
} //.tidy5eDark

.tidy5eDark {
  .tidy5e.sheet.actor {
    .tidy5e-sheet {
      background-color: var(--t5s-background);
    }

    .spellcasting-ability {
      background: var(--t5s-background);
    }

    .environment-label span {
      color: var(--t5s-background);
    }

    select option {
      color: var(--t5s-background);
    }

    #item-info-container {
      background: var(--t5s-background);
    }

    a.entity-link,
    a.content-link,
    a.inline-roll {
      color: var(--t5s-primary-font);
      background: var(--t5s-faint-color);
    }
  }

  .tidy5e.sheet.item {
    .window-content {
      color: var(--t5s-primary-font);

      form {
        background-color: var(--t5s-background);
      }

      form .hint {
        color: var(--t5s-tertiary-color);
      }
    }

    .tox .tox-toolbar-overlord button {
      color: #222;
    }

    .tox-sidebar-wrap {
      padding: 8px;
      background: var(--t5s-secondary-color);
    }

    select option {
      color: var(--t5s-primary-font);
      background: var(--t5s-background);
    }

    a.content-link {
      color: var(--t5s-primary-font);
      background: var(--t5s-faint-color);
    }

    .tab.advancement .items-list {
      .items-header div.item-checkmark {
        flex: 0 0 44px;
        color: var(--t5s-prepared);
      }
      .item .item-name {
        .item-image {
          filter: invert(1);
        }
      }
    }

    .tab.effects {
      h3 {
        border: none;
      }
    }

    input {
      color: var(--t5s-primary-font);

      &::placeholder {
        color: var(--t5s-tertiary-color);
      }
    }
  }

  .tidy5e.sheet.actor {
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: #fff;
      background-color: #fff;
    }

    .tox .tox-toolbar-overlord button {
      color: #222;
    }

    .tox-sidebar-wrap {
      padding: 8px;
      background: var(--t5s-secondary-color);
    }
  }
}

@import "_dark-modules.scss";
