@font-face {
	font-family: "Signika";
	src: url("../../../fonts/signika/signika-light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Signika";
	src: url("../../../fonts/signika/signika-semibold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@import "partials/_variables.scss";

.tidy5e.sheet.actor {
	min-width: 680px;
	min-height: 210px;

	.window-content {
		padding: 0;
		margin: 0;
		color: var(--t5e-primary-font);
		font-family: var(--t5e-signika);

		form {
			height: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}

	.warnings {
		list-style: none;
		padding: 0;
		margin: 0;

		.notification.warning {
			margin: 0;
			border-radius: 0;
			box-shadow: none;
		}
	}

	.tidy5e-sheet {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;
		overflow: hidden;

		.notice {
			display: block;
			background: var(--t5e-warning-accent);
			padding: 10px;
			font-size: 12px;
			color: var(--t5e-background);
			border-radius: 5px;
			margin-bottom: 8px;
		}
	}

	@import "partials/_general.scss";
	@import "partials/_item-info-card.scss";

	// ### HEADER ###
	.tidy5e-header {
		display: flex;
		justify-content: center;
		padding: 10px 16px 16px 16px;
		background: var(--t5e-header-background);
	}

	@import "partials/_portrait.scss";
	@import "partials/_character-details.scss";
	@import "partials/_navigation.scss";

	// #### SHEET BODY ####

	.sheet-body {
		padding: 1rem 0.25rem 1rem 1rem;
		flex: 1;
		overflow: hidden;
	}

	@import "partials/_tabs.scss";
	@import "partials/_main-tab.scss";
	@import "partials/_favorites.scss";

	// Inventorys
	@import "partials/_inventory.scss";
	@import "partials/_inventory-grid.scss";

	// Notes in Biography and Journal

	.notes-container {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;
	}

	.main-notes {
		display: flex;
		flex: 1;
	}

	.top-notes {
		// flex: 0 0 1px;
		width: 100%;
		margin-bottom: 1rem;

		.character-details {
			margin: 0;
			padding: 0;
			display: flex;
			gap: 4px;
			flex-wrap: wrap;
		}

		li {
			display: flex;
			flex: 0 0 calc(100% / 3 - 4px);

			span {
				flex: 1;
				margin: 0 8px 0 4px;
			}

			span:first-child {
				flex: 0 0 1px;
				font-weight: 600;
				margin: 0;
			}
		}
	}

	.left-notes,
	.right-notes {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.left-notes {
		margin-right: 1rem;
		max-width: 350px;
	}

	.limited .note-entries {
		display: flex;
		height: 100%;
		align-items: stretch;

		article {
			flex: 1;
			margin: 0;

			&:last-child {
				margin-left: 8px;
			}
		} //article
	}

	.note-entries article {
		background: var(--t5e-faintest-color);
		border-radius: 5px;
		padding: 8px;
		margin-bottom: 1rem;
		position: relative;
		// flex: 0 0 1px;
		// min-height: calc(25% - 1rem);
		flex: 1;
		display: flex;
		flex-direction: column;

		&.appearance-notes {
			flex: 0 1 calc(25% - 0.75rem);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover .editor .editor-edit {
			display: block;
			padding: 0;
			border: none;
			box-shadow: none;
		}

		.editor .editor-edit,
		&:hover .editor .tox-tinymce ~ .editor-edit,
		&:hover .editor .tox-prosemirror ~ .editor-edit {
			display: none;
		}

		.section-titles {
			font-weight: 700;
			border-bottom: 1px solid var(--t5e-light-color);
			padding-bottom: 0.25rem;
			margin-bottom: 0.5rem;
			flex: 0 0 1px;

			input {
				height: 16px;
				width: calc(100% - 26px);
				font-weight: 700;
			}
		}

		.editor,
		.editor .editor-content {
			// min-height: 50px;
			padding: 0;
			position: static;
		}

		.editor .tox .tox-tbtn {
			width: 24px;
			height: 24px;
		}

		.editor .tox.tox-tinymce .tox-tbtn[title="Formats"],
		.editor .tox.tox-prosemirror .tox-tbtn[title="Formats"] {
			width: 90px;
		}

		.editor .tox .tox-tbtn--select {
			width: auto;
		}

		.editor .editor-content ul {
			list-style: disc;
			padding-left: 20px;
		}

		.editor .editor-content,
		.editor .tox .tox-toolbar__group {
			padding: 0;
			&:hover,
			&:focus {
				box-shadow: none;
			}
		}

		.editor .editor-container .editor-content {
			// position: absolute;
			width: 100%;
			height: 100%;
		}

		&.biography-notes .editor {
			// min-height: 271px;
		}

		&.journal-notes .editor {
			// min-height: 382px;
		}
	}

	.editor ul,
	.editor ol {
		list-style: outside;
		margin: 0.5em 0;
		padding: 0 0 0 1.5em;
	}

	.editor {
		// min-height: 382px;
		display: flex;
		flex-direction: column;
		height: calc(100% - 21px);

		.editor-edit {
			background: transparent;
		}

		.tox-editor-header {
			border-bottom: 1px solid var(--t5e-faint-color);
		}

		.tox-toolbar-overlord,
		.tox-toolbar__primary {
			background: transparent;
			background-color: transparent;
		}

		.editor-content {
			margin: 0;
			padding: 0 0.75rem 0 0;

			p,
			li {
				line-height: 1.4;
			}

			a.entity-link,
			a.inline-roll {
				padding: 1px 2px 0px 2px;
				border-radius: 5px;
				background: var(--t5e-faint-color);
				color: var(--t5e-primary-font);
			}
		} //.editor-content
	}

	.tox.tox-tinymce,
	.tox.tox-prosemirror {
		border: none;
		flex: 1;
		min-height: 100px;
	}
}

.minimized #item-info-container {
	display: none;
}

form .form-group.spell-lvl-btn {
	justify-content: center;
	flex-direction: column;
	margin-bottom: 15px;

	label {
		text-align: center;
	}

	.form-fields {
		margin: auto;

		.spell-lvl-btn__label {
			padding: 0;
			margin-right: 10px;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			.spell-lvl-btn__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				background: rgba(0, 0, 0, 0.05);
				border: 2px groove #c9c7b8;
				border-radius: 3px;
				font-size: 16px;
				font-weight: 900;
				user-select: none;

				&:hover,
				&:focus {
					cursor: pointer;
					outline: none;
					box-shadow: 0 0 5px red;
				}
			}

			input {
				display: none;

				&:checked + .spell-lvl-btn__btn {
					box-shadow: 0 0 5px red;
				}
			}

			.available-slots {
				position: absolute;
				top: -4px;
				right: -4px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 15px;
				height: 15px;
				font-size: 11px;
				line-height: 1;
				border-radius: 50%;
				background: #ff6400;
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
}
