.tidy5e.sheet.actor.vehicle {
	.left-pane {
		flex: 0 0 220px;
	}

	.counters {
		width: 100%;
		background: var(--t5e-faint-color);
		border-radius: 5px;
		padding: 4px 8px;
		font-size: 12px;

		.counter {
			display: flex;
			justify-content: space-between;
			align-items: center;
			white-space: nowrap;
			border-top: 1px solid var(--t5e-light-color);

			&:first-child {
				border: none;
			}
		}

		.counter-value input[type="text"] {
			width: 70px;
			height: 20px;
			text-align: right;
		}

		.counter-value input[type="checkbox"] {
			width: 16px;
			height: 16px;
			margin: 2px 0;
		}

		.action-thresholds .counter-value {
			display: flex;
			align-items: center;

			input[type="text"] {
				width: 24px;
				text-align: center;
			}
		}
	}

	.attributes .items-list {
		padding: 0 0 8px 0;
		// overflow-y: visible;
		overflow-y: scroll;
	}

	min-width: 690px;
	min-height: 210px;

	.header-attributes {
		.ac-display {
			.value {
				top: 28px;
				font-size: 40px;
				height: 38px;
				font-weight: 600;
				margin: 0;
			}

			.value-footer {
				position: absolute;
				bottom: 6px;
				left: 0;
				width: 100%;
			}
		} //-ac-display
	} //.header-attributes

	.ability-scores .ability .ability-mod {
		text-align: center;
	}
	/*
	.portrait-hp input,
	.portrait-hp span,
	.portrait-temp input {
		width: 60px;
	}
	*/

	.profile-wrap {
		.profile .rest-container {
			display: block;

			.resting {
				width: 24px;
				height: 20px;
				border-radius: 0 0 0 5px;

				&:hover {
					width: 94px;
				}

				.rest {
					flex: 0 0 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 18px;
					border-radius: 50%;
					cursor: pointer;
					border: none;
					color: var(--t5e-tertiary-color);
					padding: 0;
					font-size: 12px;
					line-height: 18px;
					font-family: var(--t5e-signika);
					font-weight: 700;

					&:hover {
						color: var(--t5e-primary-font);
					}
				}

				.resting-icon {
					flex: 0 0 24px;
					width: 24px;
					height: 18px;
					margin-right: 8px;
					border-radius: 0;
					font-size: 12px;
					color: var(--t5e-primary-font);
				}
			}
		}

		.profile .hp-overlay-wrapper::before {
			border-width: var(--t5e-vehicle-border);
		}

		.profile.roundPortrait .rest-container {
			left: 7px;
			bottom: 0;

			.resting {
				border-radius: 5px 0 0 5px;
				transition: all 0.3s ease;
			}

			.resting:not(:hover) {
				background: transparent;
				box-shadow: none;
				border-color: transparent;
			}
		}

		.profile .portrait-hp {
			width: 136px !important;
		}

		.profile.roundPortrait .portrait-hp {
			border-radius: 5px;
		}

		.health {
			position: absolute;
			z-index: 25;
			right: 7px;
			// bottom: 14px;
			bottom: 16px;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 20px;
				width: 22px;
				border-radius: 0 5px 5px 0;
			}

			.formula-edit {
				background: var(--t5e-icon-background);
				box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
				border: 1px solid var(--t5e-icon-outline);
				display: none;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 100%;
				right: 0;
				width: 136px;
				height: 20px;
				border-radius: 5px;
			}

			&:hover .formula-edit,
			.formula-edit:focus-within {
				display: flex;
			}

			input {
				// padding-top: 2px;
				// color: #fff;
				text-align: center;
				width: 100%;
				height: 100%;
				font-size: 12px;
				border-radius: 5px;
				margin: 0;
			}
		}
	}

	.profile .hp-overlay-wrapper::before {
		border-width: var(--t5e-vehicle-border);
	}

	.items-header {
		.items-header-item-cover,
		.items-header-item-crew {
			width: 50px;
		}

		.items-header-item-ac,
		.items-header-item-hp {
			width: 40px;
		}

		.items-header-item-threshold,
		.items-header-item-qty,
		.items-header-item-price,
		.items-header-item-weight {
			width: 70px;
		}
	}

	.item {
		&.cargo-row.crew input,
		&.cargo-row.passengers input {
			padding: 0 4px;
		}

		.item-detail {
			&.item-cover,
			&.item-crew {
				width: 50px;
			}

			&.item-ac,
			&.item-hp {
				width: 40px;
			}

			&.item-threshold,
			&.item-qty,
			&.item-price,
			&.item-weight {
				width: 70px;
			}

			input {
				text-align: center;
			}
		}
	}

	.note-entries article.biography-notes .editor {
		height: 100%;
	}
}
