:root.tidy5eDark {
	--t5e-primary-font: rgba(255, 255, 255, 0.8);
	--t5e-background: rgba(30, 30, 30, 1);
	--t5e-white: rgba(0, 0, 0, 1);
	--t5e-primary-color: rgba(255, 255, 255, 0.8);
	--t5e-secondary-color: rgba(255, 255, 255, 0.65);
	--t5e-tertiary-color: rgba(255, 255, 255, 0.4);
	--t5e-light-color: rgba(255, 255, 255, 0.25);
	--t5e-faint-color: rgba(255, 255, 255, 0.1);
	--t5e-faintest-color: rgba(255, 255, 255, 0.05);
	--t5e-ability-accent: darkslategrey;
	--t5e-header-background: rgba(255, 255, 255, 0.05);
	--t5e-header-border: rgba(255, 255, 255, 0.25);
	--t5e-primary-accent: rgba(255, 100, 0, 1);
	--t5e-equipped: rgba(0, 250, 180, 0.3);
	--t5e-prepared: rgba(0, 250, 180, 0.3);
	--t5e-pact: rgba(250, 0, 180, 0.3);
	--t5e-atwill: rgba(226, 246, 4, 0.3);
	--t5e-innate: rgba(255, 0, 0, 0.3);
	--t5e-alwaysprepared: rgba(0, 100, 255, 0.3);
	--t5e-icon-background: rgba(30, 30, 30, 1);
	--t5e-icon-shadow: rgba(0, 0, 0, 0.4);
	--t5e-icon-outline: rgba(0, 0, 0, 0.4);
	--t5e-icon-font: rgba(255, 255, 255, 0.4);
	--t5e-icon-hover: rgba(255, 255, 255, 0.8);
	--t5e-warning-accent: rgba(255, 30, 0, 0.65);
	--t5e-check-default: url("../images/check-dark-unchecked.svg");
	--t5e-check-checked: url("../images/check-light-checked.svg");
	--t5e-checkbox-font: rgba(255, 255, 255, 0.8);
	--t5e-checkbox-outline: rgba(50, 50, 50, 1);
	--t5e-checkbox-unchecked: rgba(75, 75, 75, 1);
	--t5e-checkbox-checked: rgba(0, 255, 0, 0.5);
}
:root.tidy5eDark .tidy5e {
	--t5e-color-bg-option: rgba(100, 100, 100, 1);
}
:root.tidy5eDark .tidy5e .prosemirror {
	--t5e-color-control-bg: rgba(50, 50, 50, 1);
	--t5e-color-hover-bg: rgba(20, 20, 20, 1);
}

.tidy5eDark .tidy5e.sheet.actor .tidy5e-sheet {
	background-color: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability {
	background: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.actor .environment-label span {
	color: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.actor select option {
	color: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.actor #item-info-container {
	background: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.actor a.entity-link,
.tidy5eDark .tidy5e.sheet.actor a.content-link,
.tidy5eDark .tidy5e.sheet.actor a.inline-roll {
	color: var(--t5e-primary-font);
	background: var(--t5e-faint-color);
}
.tidy5eDark .tidy5e.sheet.item .window-content {
	color: var(--t5e-primary-font);
}
.tidy5eDark .tidy5e.sheet.item .window-content form {
	background-color: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.item .window-content form .hint {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.item .tox .tox-toolbar-overlord button {
	color: #222;
}
.tidy5eDark .tidy5e.sheet.item .tox-sidebar-wrap {
	padding: 8px;
	background: var(--t5e-secondary-color);
}
.tidy5eDark .tidy5e.sheet.item select option {
	color: var(--t5e-primary-font);
	background: var(--t5e-background);
}
.tidy5eDark .tidy5e.sheet.item a.content-link {
	color: var(--t5e-primary-font);
	background: var(--t5e-faint-color);
}
.tidy5eDark .tidy5e.sheet.item .tab.advancement .items-list .items-header div.item-checkmark {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 44px;
	flex: 0 0 44px;
	color: var(--t5e-prepared);
}
.tidy5eDark .tidy5e.sheet.item .tab.advancement .items-list .item .item-name .item-image {
	-webkit-filter: invert(1);
	filter: invert(1);
}
.tidy5eDark .tidy5e.sheet.item .tab.effects h3 {
	border: none;
}
.tidy5eDark .tidy5e.sheet.item input {
	color: var(--t5e-primary-font);
}
.tidy5eDark .tidy5e.sheet.item input::-webkit-input-placeholder {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.item input::-moz-placeholder {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.item input:-ms-input-placeholder {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.item input::-ms-input-placeholder {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.item input::placeholder {
	color: var(--t5e-tertiary-color);
}
.tidy5eDark .tidy5e.sheet.actor .tox-toolbar-overlord,
.tidy5eDark .tidy5e.sheet.actor .tox-toolbar__primary {
	background: #fff;
	background-color: #fff;
}
.tidy5eDark .tidy5e.sheet.actor .tox .tox-toolbar-overlord button {
	color: #222;
}
.tidy5eDark .tidy5e.sheet.actor .tox-sidebar-wrap {
	padding: 8px;
	background: var(--t5e-secondary-color);
}
.tidy5eDark .tidy5e.sheet .prosemirror menu button:hover {
	background: rgba(100, 100, 100, 1);
}
.tidy5eDark .tidy5e.sheet .prosemirror menu .pm-dropdown {
	background: rgba(100, 100, 100, 1);
}
.tidy5eDark .tidy5e.sheet .prosemirror menu .pm-dropdown ul {
	background: rgba(100, 100, 100, 1);
}
.tidy5eDark .tidy5e.sheet .prosemirror menu .pm-dropdown li:hover {
	background: rgba(50, 50, 50, 1);
}

.disable {
	/* ------------------------------------ */
	/*   Support Better Rolls / Minor QOL   */
	/* ------------------------------------ */
	/* ------------------------ */
	/* Support Dynamic Effects  */
	/* ------------------------ */
	/* ------------------------ */
	/*    Support Magic Items   */
	/* ------------------------ */
	/* Magic Item Sheet */
	/* ----------------------------- */
	/*    Support Skill Customizer   */
	/* ----------------------------- */
}
.disable .tidy5eDark .tidy5e.sheet.actor .items-list .item-summary .item-buttons .tag button:hover {
	background: var(--t5e-darkmode-primary-accent);
}
.disable .tidy5eDark .dnd5e.sheet.item .effect-header:first-child,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .item-spells-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-mode,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-value,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
	color: var(--t5e-darkmode-primary-color);
	font-weight: 400;
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .item-spells-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
	color: var(--t5e-darkmode-tertiary-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect {
	background: var(--t5e-darkmode-faint-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect .item-spells-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect .item-spells-name  {
	cursor: default;
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create {
	background: var(--t5e-darkmode-light-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create:hover {
	background: var(--t5e-darkmode-primary-accent);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-edit:hover {
	color: var(--t5e-darkmode-primary-accent);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete {
	color: var(--t5e-danger-500);
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete:hover {
	color: var(--t5e-danger-700);
}
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .spellbook-filters.magic-items-head,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .spellbook-filters.magic-items-head {
	border-color: var(--t5e-darkmode-light-color);
}
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .magic-item div,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .magic-item div {
	border-color: var(--t5e-darkmode-faint-color);
}
.disable .tidy5eDark .dnd5e.sheet.actor .spell-rechargeable,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-level,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-consumption,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-upcast {
	color: var(--t5e-darkmode-primary-color);
	font-weight: 300;
}
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-mode,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-value {
	color: var(--t5e-darkmode-primary-color);
}
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image {
	background-image: url("../../images/d20-444.svg") !important;
}
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image:hover {
	background-image: url("../../images/d20-highlight-green.svg") !important;
}
.disable .tidy5eDark .dnd5e.sheet.item .sheet-body .tab.magic-items label {
	color: var(--t5e-darkmode-primary-color);
	font-weight: 300;
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content input[type="text"],
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select {
	border: none !important;
	background: var(--t5e-darkmode-faint-color);
	color: var(--t5e-darkmode-primary-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content input[type="text"]:hover,
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select:hover,
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select:focus {
	border: none !important;
	-webkit-box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent);
	box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent);
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item:not(.items-header) {
	background: var(--t5e-darkmode-faint-color);
	color: var(--t5e-darkmode-primary-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-level,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-consumption,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-upcast,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-cost {
	color: var(--t5e-darkmode-primary-color);
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header:first-child,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .item-name,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-level-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-consumption-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-upcast-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-cost-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-constrols-head {
	color: var(--t5e-darkmode-tertiary-color);
	font-weight: 400;
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item-controls a {
	color: var(--t5e-danger-500);
}
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item-controls a:hover {
	color: var(--t5e-danger-700);
}
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
	color: var(--t5e-darkmode-primary-color);
}
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus {
	background: var(--t5e-darkmode-primary-accent);
	color: var(--t5e-darkmode-primary-color);
	-webkit-box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent);
	box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent);
}
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover option,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus option {
	background: #fff;
	color: #121212;
}
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
	-webkit-box-shadow: 0 0 0 1px var(--t5e-darkmode-tertiary-color) inset;
	box-shadow: 0 0 0 1px var(--t5e-darkmode-tertiary-color) inset;
}
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:focus {
	-webkit-box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent) inset;
	box-shadow: 0 0 0 1px var(--t5e-darkmode-primary-accent) inset;
}
