.system-dnd5e.tidy5eDark {
  --primary-font: rgba(255, 255, 255, 0.8);
  --background:rgb(30, 30, 30);
  --white: rgba(0, 0, 0, 1);
  --primary-color: rgba(255, 255, 255, 0.8);
  --secondary-color: rgba(255, 255, 255, .65);
  --tertiary-color: rgba(255, 255, 255, .4);
  --light-color: rgba(255, 255, 255, .25);
  --faint-color: rgba(255, 255, 255, .1);
  --faintest-color: rgba(255, 255, 255, .05);
  --ability-accent: darkslategrey;
  --header-background: rgba(255, 255, 255, .05);
  --header-border: rgba(255, 255, 255, .25);
  --primary-accent: rgba(255, 100, 0, 1);
  --prepared: rgba(0, 250, 180, .3);
  --always-prepared: rgba(0, 100, 255, .3);
  --icon-background: rgb(30, 30, 30);
  --icon-shadow: rgba(0, 0, 0, .4);
  --icon-outline: rgba(0, 0, 0, .4);
  --icon-font:rgba(255, 255, 255, .4);
  --icon-hover: rgba(255, 255, 255, 0.8);
  --warning-accent: rgba(255, 30, 0, .65);
  --check-default: url(../images/check-dark-unchecked.svg);
  --check-checked: url(../images/check-light-checked.svg);
  --checkbox-font: rgba(255, 255, 255, .8);
  --checkbox-outline: rgba(50, 50, 50, 1);
  --checkbox-unchecked: rgba(75,75,75,1);
  --checkbox-checked: rgba(0, 255, 0, 0.5);
}

.tidy5eDark .tidy5e.sheet.actor .tidy5e-sheet {
  background-color: var(--background);
}

.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability {
  background: var(--background);
}

.tidy5eDark .tidy5e.sheet.actor .environment-label span {
  color: var(--background);
}

.tidy5eDark .tidy5e.sheet.actor select option {
  color: var(--background);
}

.tidy5eDark .tidy5e.sheet.item .window-content {
  color: var(--primary-font);
}

.tidy5eDark .tidy5e.sheet.item .window-content form {
  background-color: var(--background);
}

.tidy5eDark .tidy5e.sheet.item .tox .tox-toolbar-overlord button {
  color: #222;
}

.tidy5eDark .tidy5e.sheet.item .tox-sidebar-wrap {
  padding: 8px;
  background: var(--secondary-color);
}

.tidy5eDark .tidy5e.sheet.item select option {
  color: var(--background);
}

.tidy5eDark .tidy5e.sheet.actor .tox-toolbar-overlord,
.tidy5eDark .tidy5e.sheet.actor .tox-toolbar__primary {
  background: #fff;
  background-color: #fff;
}

.tidy5eDark .tidy5e.sheet.actor .tox .tox-toolbar-overlord button {
  color: #222;
}

.tidy5eDark .tidy5e.sheet.actor .tox-sidebar-wrap {
  padding: 8px;
  background: var(--secondary-color);
}

.disable {
  /* ------------------------------------ */
  /*   Support Better Rolls / Minor QOL   */
  /* ------------------------------------ */
  /* ------------------------ */
  /* Support Dynamic Effects  */
  /* ------------------------ */
  /* ------------------------ */
  /*    Support Magic Items   */
  /* ------------------------ */
  /* Magic Item Sheet */
  /* ----------------------------- */
  /*    Support Skill Customizer   */
  /* ----------------------------- */
}

.disable .tidy5eDark .tidy5e.sheet.actor .items-list .item-summary .item-buttons .tag button:hover {
  background: var(--darkmode-primary-accent);
}

.disable .tidy5eDark .dnd5e.sheet.item .effect-header:first-child,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-mode,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-value,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
  color: var(--darkmode-primary-color);
  font-weight: 400;
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-name,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
  color: var(--darkmode-tertiary-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect {
  background: var(--darkmode-faint-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect .effect-name {
  cursor: default;
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create {
  background: var(--darkmode-light-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create:hover {
  background: var(--darkmode-primary-accent);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-edit:hover {
  color: var(--darkmode-primary-accent);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete {
  color: var(--danger-500);
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete:hover {
  color: var(--danger-700);
}

.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .spellbook-filters.magic-items-head,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .spellbook-filters.magic-items-head {
  border-color: var(--darkmode-light-color);
}

.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .magic-item div,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .magic-item div {
  border-color: var(--darkmode-faint-color);
}

.disable .tidy5eDark .dnd5e.sheet.actor .spell-rechargeable,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-level,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-consumption,
.disable .tidy5eDark .dnd5e.sheet.actor .spell-upcast {
  color: var(--darkmode-primary-color);
  font-weight: 300;
}

.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-mode,
.disable .tidy5eDark .dnd5e.sheet.item .dynamiceffects-effect-list .effect-header .effect-value {
  color: var(--darkmode-primary-color);
}

.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image {
  background-image: url(../../images/d20-444.svg) !important;
}

.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image:hover {
  background-image: url(../../images/d20-highlight-green.svg) !important;
}

.disable .tidy5eDark .dnd5e.sheet.item .sheet-body .tab.magic-items label {
  color: var(--darkmode-primary-color);
  font-weight: 300;
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content input[type="text"],
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select {
  border: none !important;
  background: var(--darkmode-faint-color);
  color: var(--darkmode-primary-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content input[type="text"]:hover,
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select:hover,
.disable .tidy5eDark .dnd5e.sheet.item .magic-items-content select:focus {
  border: none !important;
  box-shadow: 0 0 0 1px var(--darkmode-primary-accent);
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item:not(.items-header) {
  background: var(--darkmode-faint-color);
  color: var(--darkmode-primary-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-level,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-consumption,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-upcast,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item .spell-cost {
  color: var(--darkmode-primary-color);
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header:first-child,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .item-name,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-level-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-consumption-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-upcast-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-cost-head,
.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .items-header .spell-constrols-head {
  color: var(--darkmode-tertiary-color);
  font-weight: 400;
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item-controls a {
  color: var(--danger-500);
}

.disable .tidy5eDark .dnd5e.sheet.item .magic-item-list .item-controls a:hover {
  color: var(--danger-700);
}

.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
  color: var(--darkmode-primary-color);
}

.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus {
  background: var(--darkmode-primary-accent);
  color: var(--darkmode-primary-color);
  box-shadow: 0 0 0 1px var(--darkmode-primary-accent);
}

.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover option,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus option {
  background: #fff;
  color: #121212;
}

.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
  box-shadow: 0 0 0 1px var(--darkmode-tertiary-color) inset;
}

.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:hover,
.disable .tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:focus {
  box-shadow: 0 0 0 1px var(--darkmode-primary-accent) inset;
}
