<div class="spellcasting-ability">
  <h3 class="spell-dc">{{localize 'DND5E.SpellDC'}} {{data.attributes.spelldc}}</h3>
  <div class="spellcasting-attribute">
    <span>{{localize 'DND5E.SpellAbility'}}</span>
    <select name="data.attributes.spellcasting" data-type="String">
      {{#select data.attributes.spellcasting}}
      <option value="">{{localize 'DND5E.None'}}</option>
      {{#each data.abilities as |abl a|}}
      <option value="{{a}}">{{abl.label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  {{#if isNPC}}
  <h3>{{localize 'DND5E.SpellcasterLevel'}}</h3>
  <input class="spellcasting-level" type="text" name="data.details.spellLevel"
  value="{{data.details.spellLevel}}" data-dtype="Number" placeholder="0"/>
  {{/if}}
</div>